[submodule "iOS1/JailbreakMe-1.0"]
	path = iOS1/JailbreakMe-1.0
	url = https://github.com/OpenJailbreak/JailbreakMe-1.0
[submodule "iOS1/touchfree"]
	path = iOS1/touchfree
	url = https://github.com/planetbeing/touchfree
